<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    <typeAliases>
<!--        예시    -->
<!--        <typeAlias type="com.jungsuk.entity.Board" alias="Board"/>-->
<!--        <typeAlias type="com.jungsuk.dto.BoardDto" alias="BoardDto"/>-->
    </typeAliases>
</configuration>
